.container-1{
    text-align: center;
    margin-top: 40px;
    color: blue;
    border: 2px solid black;
}

body{
    background-color: rgb(214, 238, 238);
}

.flex-box-container{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.flex-box-container div{
    padding: 10px;
    display: flex;
}

.flex-box-container-1 {
    color: white;
    background: red;
    padding: 20px;
    font-size: 1rem;
    border-radius: 10px;
}

.flex-box-container-2{
    display: flex;
   justify-content: space-around;
   border: 2px solid blue;
   flex-wrap: wrap;
}

.flex-box-container-2 img{
    padding: 10px;
    border: 2px solid black;
    margin-top: 30px;
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: rgb(117, 0, 128);
}